<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="TestSuit">
    <classes>      
      <class name="com.Apptimice.Automation.testscript.LoginTest"/>
      <class name="com.Apptimice.Automation.testscript.JobCreationTest"/>
      <class name="com.Apptimice.Automation.testscript.VehicleCreationTest"/>
      <class name="com.Apptimice.Automation.testscript.DriverAdditionTest"/>
      <class name="com.Apptimice.Automation.testscript.SkillsAdditionTest"/>
      <class name="com.Apptimice.Automation.testscript.ZoneAdditionTest"/>
      <class name="com.Apptimice.Automation.testscript.DeleteJobTest"/>
      <class name="com.Apptimice.Automation.testscript.DeleteVehicleTest"/>
      <class name="com.Apptimice.Automation.testscript.ImportJobTest"/>
      <class name="com.Apptimice.Automation.testscript.ImportVehicleTest"/>
      <class name="com.Apptimice.Automation.testscript.SignupTest"/>
      <class name="com.Apptimice.Automation.testscript.ForgotpasswordTest"/>
       <class name="com.Apptimice.Automation.testscript.ResendemailTest.java"/>
       <class name="com.Apptimice.Automation.testscript.UpgradeTest"/>
      </classes>
  </test> <!-- TestSuit -->
</suite> <!-- Suite -->
