<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="TestSuit">
    <classes>      
      <class name="com.sixleaf.automation.testcases.Login"/>
      <class name="com.sixleaf.automation.testcases.SelectPlan"/>
      <class name="com.sixleaf.automation.testcases.IntegrationZonBlast"/>
      </classes>
  </test> <!-- TestSuit -->
</suite> <!-- Suite -->

































